config SW374_WIFI_CONNECT
    bool "Connet to the wifi"
    select SW374_DFS_FILE_CONFIG
    default y
#    help
#        More information is available at: https://wiki.lckfb.com/

#    if SW374_WIFI_CONNECT
#    source "bsp/peripheral/wireless/realtek/Kconfig"
#    endif
