config SW374_TELEMETRY_DATA_PROCESSOR
    bool "Using Telemetry data processor"
    select SW374_TCP_SERVER
    default y
#    help
#        More information is available at: https://wiki.lckfb.com/


