comment "Steering Wheel Function Module Code by 374"

menuconfig USING_SW374
    bool "Select the modules need to enable"
    default y
#     help
#         Official Website : www.lckfb.com

# 如果使用立创开发板的模块移植代码则开启下面的选项
if USING_SW374
source "application/rt-thread/sw374/user_led/Kconfig"
# 读取配置文件
source "application/rt-thread/sw374/dfs_file_config/Kconfig"
# 根据配置文件连接wifi
source "application/rt-thread/sw374/wifi_connect/Kconfig"
# 根据配置文件建立TCPserver
source "application/rt-thread/sw374/tcp_server/Kconfig"
# 根据配置文件建立 遥测数据处理器telemetry_data_proccessor
source "application/rt-thread/sw374/telemetry_data_processor/Kconfig"
# LVGL显示屏幕
source "application/rt-thread/sw374/lvgl_ui/Kconfig"
# WS2812B
source "application/rt-thread/sw374/ws2812b/Kconfig"
# rt_thread_class_cpp
source "application/rt-thread/sw374/rt_thread_class_cpp/Kconfig"

# 屏幕驱动显示
# source "application/rt-thread/sw374/lvgl_ui/Kconfig"
# source "application/rt-thread/helloworld/user-bsp/rt_thread_class_cpp/Kconfig"
# source "application/rt-thread/helloworld/user-bsp/ws2812-color-light/Kconfig"
# source "application/rt-thread/helloworld/user-bsp/ec11/Kconfig"
# source "application/rt-thread/helloworld/user-bsp/tcpserver/Kconfig"
# source "application/rt-thread/helloworld/user-bsp/dataprocessor/Kconfig"
# source "application/rt-thread/helloworld/user-bsp/nrf24l01/Kconfig"
# source "application/rt-thread/helloworld/user-bsp/74hc165/Kconfig"

endif # 结束
